.TodoCategories {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 35px;
}

.ContainerButtonCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

.titleCategories {
  text-align: center;
  font-size: 20px;
  padding : 0 50px 0 50px;
}

.inputCategory {
  background-color: #000000; /* Fondo negro */
  border-radius: 5px; /* Bordes redondeados (coincide con el botón) */
  border: 2px solid #202329; /* Borde gris oscuro */
  margin: 10px; /* Margen para separar del botón */
  height: 50px; /* Altura reducida para que no sea demasiado grande */
  width: calc(80% - 20px); /* Ancho ajustado para coincidir con el botón (80% menos el margen) */
  font-size: 16px; /* Tamaño de fuente reducido */
  text-align: center; /* Texto centrado */
  font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
  font-weight: 400; /* Peso de la fuente */
  color: #fff84c; /* Color del texto amarillo */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15); /* Sombra suave */
  padding: 0 20px; /* Relleno interno */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.inputCategory::placeholder {
  color: #fff84c; /* Color del placeholder amarillo */
  font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
  font-weight: 400; /* Peso de la fuente */
  opacity: 0.7; /* Opacidad reducida para el placeholder */
}

.inputCategory:focus {
  outline: none; /* Elimina el outline por defecto */
  border-color: #a3a53d; /* Cambia el color del borde al enfocar */
  box-shadow: 0px 0px 8px rgba(163, 165, 61, 0.5); /* Sombra más pronunciada al enfocar */
}

.buttonCategory {
  width: 25%;
  min-height: 40px;
  font-size: 16px;
  margin: 5px;
  height: auto;
  padding: 5px;
}

.sectionCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonAddCategory {
  margin: 10px;
  padding: 10px 20px;
  background-color: #fff84c;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.buttonAddCategory:hover {
  background-color: #a3a53d;
}

.buttonAddCategory:active {
  background-color: #a3a53d;
}


@media (max-width: 1200px) {
  .inputCategory {
      width: 60%;
  }
  .buttonCategory {
    width: 32%;
    font-size: 16px;
    margin: 5px;
  }
}

@media (max-width: 768px) {
  .TodoCategories {
      font-size: 20px;
      padding: 20px;
  }

  .inputCategory {
      width: 70%;
  }
  .ContainerButtonCategory {
    flex-direction: column;
    width: 100%;
  }

  .buttonAddCategory {
    margin: 10px;
    padding: 10px 20px;
    background-color: #fff84c;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .buttonCategory {
    width: 100%;
    font-size: 16px;
    margin: 5px;
  }
}

@media (max-width: 480px) {
  .TodoCategories {
      font-size: 18px;
      padding: 15px;
  }

  .inputCategory {
      width: 80%;
  }
 
}
